# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# These fields are not being used right now
NEXT_PUBLIC_SUPABASE_URL="https://YOUR_PROJECT_REF.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="YOUR_ANON_KEY"
SUPABASE_JWT_SECRET=""

NEXT_PUBLIC_STRIPE_PUBLISHABLE_API_KEY=""

# USED Fields
NEXT_PUBLIC_AXIOM_DATASET="DATASET_NAME"
NEXT_PUBLIC_AXIOM_TOKEN=""
NEXT_PUBLIC_AXIOM_LOG_LEVEL=off

# Used to have your own domaini for the backend server
SUBDOMAIN_NAME="skylar-backend-YOUR_NAME"
NEXT_PUBLIC_BACKEND_URL="https://skylar-backend-YOUR_NAME.loca.it/trpc"

# GOOGLE PROVIDER OAUTH 
NEXT_PUBLIC_GOOGLE_PROVIDER_CLIENT_ID=""
GOOGLE_PROVIDER_CLIENT_SECRET=""
