APP_URL=https://skylar-frontend-DEV_NAME.loca.it
SUPABASE_JWT_SECRET=""
DATABASE_URL="postgres://full_url?sslmode=require"
AXIOM_DATASET=""
AXIOM_TOKEN=""
AXIOM_ORG_ID=""
AXIOM_URL=""
SUPABASE_ANON_KEY=""
SUPABASE_URL=""
GOOGLE_PROVIDER_CLIENT_SECRET=
GOOGLE_PROVIDER_CLIENT_ID=
